.container {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  overflow: hidden;
}

.editorArea {
  width: 50%;
  height: 100%;
  /*border-left: 1px solid var(--color-border);*/
  background-color: var(--color-background);
}

.border {
  width: 2px;
  background-color: var(--color-border-impact);
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  resize: none;
  outline: none;
  background-color: transparent;
  color: var(--color-text-primary);
  font-family: var(--font-mono), monospace;
  font-size: 0.875rem;
  line-height: 1.4;
  border: none;
}

.previewArea {
  display: flex;
  width: 50%;
}

.previewWrapper {
  display: flex;
  width: 100%;
}

.preview {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 1.5rem;
  overflow-y: auto;
  color: var(--color-text-primary);
}

.mdH1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 0.5rem;
  scroll-margin-top: 100px; /* 스크롤 이동 시 헤더 여백 */
}

.mdH2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  color: var(--color-text-primary);
  scroll-margin-top: 100px;
}

.mdH3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  color: var(--color-text-primary);
  scroll-margin-top: 100px;
}

.mdP {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
  line-height: 1.75rem;
}

.mdBold {
  font-weight: 700;
  color: var(--color-text-primary);
}

.mdItalic {
  font-style: italic;
}

.mdQuote {
  border-left: 4px solid var(--color-primary);
  padding-left: 1rem;
  font-style: italic;
  color: var(--color-text-secondary);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-card);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.mdUl {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.mdLi {
  margin-bottom: 0.25rem;
  color: var(--color-text-primary);
  margin-left: 1rem;
}

.mdBr {
  height: 1rem;
}

.sideBar {
  width: 20rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 6rem; /* Adjust based on header height */
  margin-top: 2rem;
  padding-left: 1rem;
  border-left: 1px solid var(--color-border);
}

.navH1 {
  padding: 0;
  margin: 0 0 1rem 0rem;
  color: var(--color-text-secondary);
}

.navH2 {
  padding: 0;
  margin: 0 0 1rem 1rem;
  color: var(--color-text-secondary);
}

.navH3 {
  padding: 0;
  margin: 0 0 1rem 2rem;
  color: var(--color-text-secondary);
}

.navItem {
  cursor: pointer;
  transition: color 0.2s;
}

.navItem:hover {
  color: var(--color-text-primary);
}

.active {
  color: var(--color-text-primary) !important;
  font-weight: 600;
}
