GRPC_API_URL=localhost:9090
PHASE=local
SESSION_PASSWORD=32BIT_PASSWORD_KEY_FOR_SESSION_ENCRYPT
CLOUDINARY_SECRET=YOUR_CLOUDINARY_SECRET
## Client side env
NEXT_PUBLIC_CLOUDINARY_KEY=YOUR_NEXT_PUBLIC_CLOUDINARY_API_KEY
NEXT_PUBLIC_CLOUDINARY_NAME=YOUR_NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME
