.header {
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 10; /* 다른 요소들 위에 확실히 오도록 z-index 조정 */
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 100%);
}

.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text-primary);
}

.navLink {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
  color: var(--color-text-primary);
}
