.header {
  position: fixed;
  width: 100%;
  height: fit-content;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 10; /* 다른 요소들 위에 확실히 오도록 z-index 조정 */
  margin-top: 0.2rem;
}

.container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 24px;
  /*background-color: var(--color-background-transparent); !* 반투명 배경색 적용 *!*/
  -webkit-backdrop-filter: blur(10px); /* Safari 호환성 */
  backdrop-filter: blur(10px); /* 블러 효과 */
  border: var(--color-border) 1px solid;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text-primary);
}

.navLink {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
  color: var(--color-text-primary);
}
